@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&display=swap');
@import "tailwindcss";

:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scrollbar-width: 9px;
  scrollbar-color: #c5691c #f2f2f2;
}
.custom-bg {
  background: rgb(229,153,103);
  background: linear-gradient(90deg, #e59967 6%, #e5691c 48%, rgba(23,23,23,1) 98%);
}
.custom-clases {
  background: linear-gradient(to right, #ff8c006b, #ff88009b);
  backdrop-filter: blur(5px);
  clip-path: polygon(100% 51%, 100% 84%, 100% 100%, 0% 100%, 50% 88%, 80% 75%);

}

.custom-size {
  font-size: 8px;
}
.anton {
  font-family: 'Anton', serif;
}
.anton-sc {
  font-family: 'Anton SC' , serif;
}

