@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&display=swap');
@import "tailwindcss";

:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scrollbar-color: #c5691c #252525;
}
.custom-bg {
  background: rgb(229,153,103);
  background: linear-gradient(90deg, #e59967 6%, #e5691c 48%, rgba(23,23,23,1) 98%);
}
.custom-clases {
  background: linear-gradient(to right, #ff8c006b, #ff88009b);
  backdrop-filter: blur(5px);
  clip-path: polygon(100% 51%, 100% 84%, 100% 100%, 0% 100%, 50% 88%, 80% 75%);

}
.custom-scroll {
  scrollbar-width: 6px;
  scrollbar-3dlight-color: #8a4c19;
  border-radius: 4px;
  scrollbar-color: #c84c17 #242424;
}

.custom-size {
  font-size: 8px;
}
.anton {
  font-family: 'Anton', serif;
}
.anton-sc {
  font-family: 'Anton SC' , serif;
}

.bg-footer {
  background: rgb(73,73,73);
background: linear-gradient(90deg, rgb(33, 32, 32) 3%, rgba(84,54,17,0.2262018557422969) 12%, rgba(47,47,47,1) 24%, rgba(34,32,34,1) 53%, rgb(36, 36, 36) 71%, rgba(79,53,24,0.3038209033613446) 84%, rgba(23,23,23,1) 96%);
}
